<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8>
     <title> Ayuda</title>
     <link rel<="'stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1>Ayuda</h1>

<a href="/">Inicio</a>
<a href="/author">Creditos</a>
<a href="/help">Ayuda</a>

<p> Un Quiz es una red social para crear adivinanzas (quiz) por partes de los usuarios, se crean una serie de preguntas y se intentan acertar. Este es un proyecto educativo destinado a aprender la arquitectura de una aplicación Web del lado servidor, su metodologóa de desarrollo y los elementos más importantes de un portal Web.
</p>

</body>
</html>
